@font-face {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', Arial;
}

h2 {
    font-family: 'Raleway', Arial;
}

h3 {
    font-family: 'Raleway', Arial;
}

p {
    font-family: 'Raleway', Arial;
    font-weight: 300;
    line-height: 1.6;
}

li {
    font-family: 'Raleway', Arial;
    font-weight: 300;
}

.topnav {
    background-color: #f7e181;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left:-8px;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', Arial;
    z-index:10;
  }

  .topnav a:hover {
    color: #dc5055;
  }

  .topnav a:active {
    color: #dc5055;
  }

  .main {
    position:fixed;
    top:48px;
    z-index:1;
    overflow:scroll;
    height:100%;
    margin-left: -8px;
  }

  .text {
      padding-left: 16px;
      margin-right: 10px;
  }

  .refdiv {
      background-color: #53bdae;
      color: #e0dce4;
      padding-left: 16px;
      padding-top: 1px;
      padding-bottom:20px;
      width:100%;
  }

  .space {
      height:50px;
  }

  .head_grid_about {
      display: grid;
      grid-template-columns: max-content auto;
  }

  .head_grid_interest {
      display: grid;
      grid-template-columns: max-content auto;
}

 .head_grid_job {
      display: grid;
      grid-template-columns: max-content auto;
  }

  .head_grid_p_profile {
      display: grid;
      grid-template-columns: max-content auto;
  }

  .head_grid_project {
      display: grid;
      grid-template-columns: max-content auto;
  }
  
  .hline {
      grid-column: 2 / 2;
      height: 2.2em;
      border-bottom: 2px solid black;
      margin-left:10px;
  }

  .para {
    position: relative;
    top:-15px;
  }

  .title_head {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-left: 18px;
      margin-bottom: 18px;
  }

  .title_right {
      grid-column: 2 / 2;
      margin: auto 0;
  }

  body {
    background-color:#53bdae4d;
  }

  .text a, 
  .text a:visited {
    color: #1d6079;
  }

  .refdiv a {
       color:#e0dce4;
  }

  .job_img {
      margin-left: -20px;
      display: grid;
  }

  .profile_grid {
      display:grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto;
      margin-top: 15px;
      margin-bottom: 30px;
      margin-right: 30px;
      grid-gap: 10px;
  }

  #MBTi {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      justify-self: center;
  }

  #MBTp {
      grid-column: 2/2;
      grid-row: 1/1;
      align-self: center;
  }

  #LSi {
      grid-column: 2/2;
      grid-row:2/2'
  }

  #LSp {
      grid-column:1/1;
      grid-row:2/2;
      text-align: right;
      align-self: center;
      margin-right: 45px;
  }

  #PCi {
      grid-column: 1/1;
      grid-row:3/3;
      justify-self: center;
  }

  #PCp {
      grid-column: 2/2;
      grid-row:3/3;
      align-self: center;
  }

  .caption {
      justify-self: center;
      font-size:85%;
      color: #616161;
      position: relative;
      top:-10px;
  }

  .refdiv p,
  .refdiv a {
      line-height: 1.1;
  }

  .text h3 {
    font-weight: bolder;
    margin-top:25px;
}